---
import CompactLayout from "@src/layouts/compact.astro";
---

<CompactLayout title="ブログ">
    <h1>ブログ</h1>
    <ul>
        <li>
            <a href="/blog/4"
                >中大生の「困った」を解決するアプリ『Chuinfo』を作って学んだ、UIと実装の話（2026年）</a>
        </li>
        <li>
            <a href="/blog/3"
                >初心者向けプログラミング言語 Puffin を作った（2025年）</a>
        </li>
        <li><a href="/blog/2">2025年度大学祭（2025年）</a></li>
        <li><a href="/blog/1">公式サイトを作りました！（2025年）</a></li>
    </ul>
</CompactLayout>
