---
import CompactLayout from "@src/layouts/compact.astro";
---

<CompactLayout title="プロジェクト紹介">
    <h1>プロジェクト</h1>
    <p>
        サークルメンバーが個人で作成したプロジェクトも一部含まれています。
    </p>
    <ul>
        <li>
            Chuinfo（<a
                href="https://apps.apple.com/jp/app/chuinfo-%E4%B8%AD%E5%A4%AE%E5%A4%A7%E7%94%9F%E5%90%91%E3%81%91%E9%9D%9E%E5%85%AC%E5%BC%8F%E3%82%A2%E3%83%97%E3%83%AA/id6670358906"
                >iOS</a
            >, <a
                href="https://play.google.com/store/apps/details?id=com.myml_12.chuinfo&pli=1"
                >Android</a
            >）：日々レポートに追われる中央大生のために、大学 Web
            サービスと連携する様々な便利な機能がついたアプリ。
        </li>
        <li>
            <a href="https://lav.gdgoc-chuo.com">LAV（ラボ）</a
            >：ウェブ上で動くレトロ風の仮想ゲーム機とゲーム制作ソフト。プログラミングやキャラクターデザイン、効果音の制作などをすべてひとつの場所で行え、作ったゲームをすぐに遊べます。2025年
            iTLFest
            と白門祭（茗荷谷キャンパス）で行ったゲーム開発体験で使いました。（<a
                href="https://github.com/pilcrowonpaper/lav">GitHub</a
            >）
        </li>
        <li>
            <a
                href="https://github.com/pilcrowonpaper/lav/blob/main/documentation/puffin-jp.md"
                >Puffin</a
            >：初心者向けの自作言語。LAV
            のゲームのプログラミング言語として使われています。
        </li>
        <li>
            <a href="https://itl-1f-map.vercel.app">itl-1f-map</a
            >：市ヶ谷田町キャンパス1階で、今いる場所を共有するWeb地図アプリ。サイト上でタップしてピンを刺し、シェアボタンからLINEなどで共有できる仕組み。
        </li>
        <li><a href="https://itl-classrooms.gdgoc-chuo.com">iTL classrooms</a>：中央大学市ヶ谷田町キャンパスの各教室の空き状況を確認できます。中央大学の Google アカウントが必要です。</li>
        <li><a href="https://pogo.gdgoc-chuo.com">Pogo</a>：中央大学生用の日程調整アプリ。作成したイベントにユーザーを招待し、候補日時に投票できます。中央大学の Google アカウントが必要です。</li>
    </ul>
</CompactLayout>
